* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
